VOICE_TO_TEXT_API_URL=https://anuvadini-services.aicte-india.org/api/voice-to-text
VOICE_TO_TEXT_API_KEY=replace-me
TEXT_TO_SPEECH_API_URL=https://anuvadini-services.aicte-india.org/api/text-to-speech
PRAVAH_TRANSLATE_URL=https://pravahai.aicte-india.org/api/translatebulk
PRAVAH_API_KEY=replace-me

PORT=8787
